{% extends 'app.html' %}

{% block content %}
<h1 class="mt-4">Müayinələrin siyahısı</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Əsas səhifə</a></li>
    <li class="breadcrumb-item active">Müayinələr</li>
</ol>
<div class="card mb-4">
    <div class="card-body">

        <div class="card card-body my-4">
            <h2>Müayinə əlavə et</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="name">Ad:</label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.min_price.errors }}
                    <label for="min_price">Minimum qiymət:</label>
                    {{ form.min_price }}
                </div>
                <div class="fieldWrapper">
                    {{ form.max_price.errors }}
                    <label for="max_price">Maksimum qiymət:</label>
                    {{ form.max_price }}
                </div>
                <button type="submit">Əlavə et</button>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adı</th>
                    <th scope="col">Qiymət</th>
                    <th scope="col">Əməliyyatlar</th>
                </tr>
                </thead>
                <tbody>
                    {% for examination in examinations %}
                        <tr class="examination-{{ forloop.counter }}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{examination}}</td>
                            <td>{{examination.price}}</td>
                            <td>
                                <a href="{% url 'animals:examination_edit' examination.id %}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            
                <tfoot class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Qiymət</th>
                        <th scope="col">Əməliyyatlar</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
</div>



{% endblock %}
