{% extends 'app.html' %}

{% block content %}
<h1 class="mt-4">Heyvanların siyahısı</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Əsas səhifə</a></li>
    <li class="breadcrumb-item active">Heyvanlar</li>
</ol>

<a href="{% url 'animals:create' %}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Heyvan əlavə et</a>

<hr>
<div class="card mb-4">
    <div class="card-body">
        
        <div id="responseMessages">

        </div>

        <form action="" method="get" id="filterForm">
            <input type="hidden" name="order_by" id="order_by">
            <input type="hidden" name="order_dir" id="order_dir">
            <div class="row">
                <div class="col col-md-3 col-sm-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name='q' placeholder="Axtar" value="{{request.GET.q}}">
                        <button class="btn btn-outline-secondary" type="submit" id="searchBtn">Axtar</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-body text-primary">
                <a class="btn btn-warning" href="{% url 'animals:monthly_report' %}">Aylıq hesabat</a>
            </div>
        </div> -->

        <div class="table-responsive rounded">
            <table class="table table-hover table-striped">
                <thead class="bg-success text-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <span class="w-100 h-100 d-flex align-items-center justify-content-between">
                            <span>Sahibi</span>
                            <div class="d-flex flex-column">
                                <span class="btn-order-by {% if request.GET.order_by == 'owner' and request.GET.order_dir == '1'%} text-dark {%endif%}" data-direction="1" data-order="owner"><i class="fas fa-chevron-up"></i></span> 
                                <span class="btn-order-by {% if request.GET.order_by == 'owner' and request.GET.order_dir == '0'%} text-dark {%endif%}" data-direction="0" data-order="owner"><i class="fas fa-chevron-down"></i></span>
                            </div>
                        </span>
                    </th>
                    <th scope="col">
                        <span class="w-100 h-100 d-flex align-items-center justify-content-between">
                            <span>Ləqəbi</span> 
                            <div class="d-flex flex-column">
                                <span class="btn-order-by {% if request.GET.order_by == 'name' and request.GET.order_dir == '1'%} text-dark {%endif%} " data-direction="1" data-order="name"><i class="fas fa-chevron-up"></i></span> 
                                <span class="btn-order-by {% if request.GET.order_by == 'name' and request.GET.order_dir == '0'%} text-dark {%endif%}" data-direction="0" data-order="name"><i class="fas fa-chevron-down"></i></span>
                            </div>
                        </span>
                    </th>
                    <th scope="col">Növü</th>
                    <th scope="col">Yaşı</th>
                    <th scope="col">Çəkisi</th>
                    <th scope="col">Rəng </th>
                    <th scope="col">
                        <span class="w-100 h-100 d-flex align-items-center justify-content-between">
                            <span>Qəbul tarixi</span>
                            <div class="d-flex flex-column">
                                <span class="btn-order-by {% if request.GET.order_by == 'entry_date' and request.GET.order_dir == '1'%} text-dark {%endif%}" data-direction="1" data-order="entry_date"><i class="fas fa-chevron-up"></i></span> 
                                <span class="btn-order-by {% if request.GET.order_by == 'entry_date' and request.GET.order_dir == '0'%} text-dark {%endif%}" data-direction="0" data-order="entry_date"><i class="fas fa-chevron-down"></i></span>
                            </div>
                        </span>
                    </th>
                    <th scope="col">Qəbul saatı</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Həkim</th>
                    <th scope="col">Müayinə</th>
                    <!-- <th scope="col">Qeyd</th> -->
                    <th scope="col">Əməliyyatlar</th>
                </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                        <tr class="animal-{{ forloop.counter }}">
                            <th scope="row">   
                                {% widthratio animals.number|add:'-1' 1 per_page as temp %}
                                {{ forloop.counter|add:temp }}
                            </th>
                            <td>{{animal.owner}}</td>
                            <td>{{animal}}</td>
                            <td>{{animal.breed_name}}</td>
                            <td>{{animal.age}}</td>
                            <td>{{animal.weight}}</td>
                            <td>{{animal.color_name}}</td>
                            <td>{{animal.entry_day|date:'d.m.Y'}}</td>
                            <td>{{animal.entry_time|date:'H:i'}}</td>
                            <td>{{animal.phone}}</td>
                            <td>{{animal.doctor}}</td>
                            <td>{{animal.examination}} ({{animal.examination.price}} AZN)</td>
                            <!-- <td>{{animal.note}}</td> -->
                            <td>
                                <a class="btn bg-gradient btn-primary m-1" href="{% url 'animals:detail' animal.id %}">Ətraflı <i class="fas fa-file-alt"></i></a>
                                <a class="btn bg-gradient btn-warning m-1" href="{% url 'animals:edit' animal.id %}">Dəyişiklik et <i class="fas fa-edit"></i></a>
                                <button class="btn bg-gradient btn-danger btn-delete-animal m-1" data-id='{{animal.id}}' data-redirect="true">Sil <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            
                <tfoot class="bg-success text-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sahibi</th>
                        <th scope="col">Ləqəbi</th>
                        <th scope="col">Növü</th>
                        <th scope="col">Yaşı</th>
                        <th scope="col">Çəkisi</th>
                        <th scope="col">Rəng</th>
                        <th scope="col">Qəbul tarixi</th>
                        <th scope="col">Qəbul saatı</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Həkim</th>
                        <th scope="col">Müayinə</th>
                        <!-- <th scope="col">Qeyd</th> -->
                        <th scope="col">Əməliyyatlar</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        {% include 'animals/snippets/pagination.html' with animals=animals %}
    </div>
</div>



{% endblock %}
