
{% if accounts.has_other_pages %}

    {% if accounts.has_previous %}
    <a href="?{% if query %}q={{query}}&{% endif %}page=1" class="btn btn-outline-primary mb-4">First</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{accounts.previous_page_number}}" class="btn btn-outline-primary mb-4">Prev</a>
    {% endif %}
    {% for num in accounts.paginator.page_range %}
    {% if accounts.number == num %}
        <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% elif num > accounts.number|add:'-3' and num < accounts.number|add:'3'%}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% endif %}
    {% endfor %}
    {% if accounts.has_next %}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{accounts.next_page_number}}" class="btn btn-outline-primary mb-4">Next</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{accounts.paginator.num_pages}}" class="btn btn-outline-primary mb-4">Last</a>
    {% endif %}

{% endif %}
