{% extends 'app.html' %}
{% load static %}

{% block content %}

<div id="inventoryApp">
    <h1 class="mt-4">Təchizat</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Əsas səhifə</a></li>
    <li class="breadcrumb-item active">Təchizat</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        
       
        <div v-if="error" class="my-3 delete-error-alert alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <span v-html="errorMessage"></span>
            <button type="button" @clicked="clearMessages" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        <div v-if="success" class="my-3 delete-success-alert alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>            
            <span v-html="successMessage"></span>
            <button type="button" @clicked="clearMessages" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="card card-body my-4">
            <h2>Təchizat əlavə et</h2>
            <form @submit.prevent="createEquipment">
                <div class="mb-3">
                    <label for="name" class="form-label">Ad</label>
                    <input type="text" name="name" id="name" v-model="item.name" :class="{'is-invalid':validationErrors.name}" class="form-control" placeholder="Ad">
                    <li v-if="validationErrors && validationErrors.name" class="invalid-feedback" v-for="error in validationErrors.name" v-html="error"></li>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <label for="quantity" class="form-label">Sayı</label>
                        <input type="number" name="quantity" id="quantity" v-model="item.quantity" :class="{'is-invalid':validationErrors.quantity}" class="form-control" placeholder="Sayı">
                        <li v-if="validationErrors && validationErrors.quantity" class="invalid-feedback" v-for="error in validationErrors.quantity" v-html="error"></li>
                    </div>
                    <div class="col-sm-6">
                        <label for="price" class="form-label">Qiyməti</label>
                        <input type="number" name="price" id="price" step="0.01" v-model="item.price" :class="{'is-invalid':validationErrors.price}" class="form-control" placeholder="Qiyməti">
                        <li v-if="validationErrors && validationErrors.price" class="invalid-feedback" v-for="error in validationErrors.price" v-html="error"></li>
                    </div>
                </div>
  
                <button class="btn btn-success" type="submit">Təsdiq et</button>
            </form>
        </div>


        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Sayı</th>
                    <th scope="col">Qiyməti</th>
                    <th scope="col">Ümumi qiyməti</th>
                    <th scope="col">Əlavə məlumat</th>
                    <th scope="col">Əməliyyatlar</th>
                </tr>
                </thead>
                <tbody v-if="equipment && equipmentCount>0">
                    <tr class="equipment_item" v-for="(item, index) in equipment" :key="index">
                        <th scope="row" v-html="index+1"></th>
                        <td class="item_name" v-html="item.name"></td>
                        <td class="item_quantity" v-html="item.quantity"></td>
                        <td class="item_price" v-html="item.price"></td>
                        <td v-html="item.total_price"></td>
                        <td v-html="item.note"></td>
                        <td>
                            <button @click="selectEquipment(item)" type="button" class="btn btn-primary equipmentEditBtn" data-bs-toggle="modal" data-bs-target="#equipmentEditModal">
                                Edit
                            </button> 
                            <button @click="selectEquipment(item)" type="button" class="btn btn-danger equipmentDeleteBtn" data-bs-toggle="modal" data-bs-target="#equipmentDeleteModal">
                                Delete
                            </button>   
                        </td>
                    </tr>
                </tbody>
            
                <tfoot class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Sayı</th>
                        <th scope="col">Qiyməti</th>
                        <th scope="col">Ümumi qiyməti</th>
                        <th scope="col">Əlavə məlumat</th>
                        <th scope="col">Əməliyyatlar</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        <!-- pagination -->


        <div class="modal fade" id="equipmentEditModal" tabindex="-1" aria-labelledby="equipmentEditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="equipmentEditModalLabel">Təchizat məlumatlarının yenilənməsi</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="equipmentEditForm" @submit.prevent="editEquipment()" v-if="selectedItem">
                      <div class="mb-3">
                        <label for="item_name" class="form-label">Ad</label>
                        <input type="text" name="item_name" id="item_name" v-model="selectedItem.name" :class="{'is-invalid':validationErrors.name}" class="form-control" placeholder="Ad">
                        <li v-if="validationErrors && validationErrors.name" class="invalid-feedback" v-for="error in validationErrors.name" v-html="error"></li>
                      </div>
                      <div class="mb-3 row">
                        <div class="col-sm-6">
                            <label for="item_quantity" class="form-label">Sayı</label>
                            <input type="number" name="item_quantity" id="item_quantity" v-model="selectedItem.quantity" :class="{'is-invalid':validationErrors.quantity}" class="form-control" placeholder="Sayı">
                            <li v-if="validationErrors && validationErrors.quantity" class="invalid-feedback" v-for="error in validationErrors.quantity" v-html="error"></li>
                        </div>
                        <div class="col-sm-6">
                            <label for="item_price" class="form-label">Qiyməti</label>
                            <input type="number" name="item_price" id="item_price" step="0.01" v-model="selectedItem.price" :class="{'is-invalid':validationErrors.price}" class="form-control" placeholder="Qiyməti">
                            <li v-if="validationErrors && validationErrors.price" class="invalid-feedback" v-for="error in validationErrors.price" v-html="error"></li>
                        </div>
                      </div>

                      <button class="btn btn-success" type="submit">Təsdiq et</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bağla</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="equipmentDeleteModal" tabindex="-1" aria-labelledby="equipmentDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="equipmentDeleteModalLabel">Təchizatı sil</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Təchizatı silmək istədiyinizə əminsinizmi?</p>
                    <form id="equipmentDeleteForm" @submit.prevent="deleteEquipment()" v-if="selectedItem">
                        <button type="submit" class="btn btn-danger">Təsdiq et</button>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bağla</button>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/app/inventory.js' %}"></script>
{% endblock %}