{% extends 'app.html' %}
{% load static %}

{% block content %}

<div id="companiesApp">
<h1 class="mt-4">Dərman Şirkətləri</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Əsas səhifə</a></li>
    <li class="breadcrumb-item active">Dərman Şirkətləri</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        
       
        <div v-if="error" class="my-3 delete-error-alert alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <span v-html="errorMessage"></span>
            <button type="button" @clicked="clearMessages" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        <div v-if="success" class="my-3 delete-success-alert alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>            
            <span v-html="successMessage"></span>
            <button type="button" @clicked="clearMessages" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        
        <div class="card card-body my-4">
            <h2>Şirkət əlavə et</h2>
            <form @submit.prevent="createCompany">
                <div class="mb-3 row">
                    <div class="col-sm-4">
                        <label for="name" class="form-label">Ad</label>
                        <input type="text" v-model="company.name" :class="{'is-invalid':validationErrors.name}" class="form-control" placeholder="Ad">
                        <li v-if="validationErrors && validationErrors.name" class="invalid-feedback" v-for="error in validationErrors.name" v-html="error"></li>
                    </div>
                </div>
  
                <button class="btn btn-success" :disabled="loading" type="submit"><span v-if="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Təsdiq et</button>
            </form>
        </div>


        <div class="list my-3">
            <h3>Dərmanlar şirkətlərinin siyahısı</h3>

            <div class="table-responsive rounded my-4">
                <table class="table table-hover table-striped">
                    <thead class="bg-success text-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Əməliyyatlar</th>
                        </tr>
                    </thead>

                    <template v-if="loading">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <div style="width: 100%; height: 15rem;" class="row justify-content-center align-items-center">
                                        <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="visually-hidden" >Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                    
                    <tbody v-if="companies && companies.length>0">
                        <tr class="company" v-for="(company, index) in companies" :key="index">
                            <th scope="row" v-html="index+1"></th>
                            <td v-html="company.name"></td>
                            <td>
                                <button @click="selectCompany(company)" type="button" class="btn btn-primary companyEditBtn" data-bs-toggle="modal" data-bs-target="#companyEditModal">
                                    Dəyişiklik et <i class="fas fa-edit"></i>
                                </button> 
                                <button @click="selectCompany(company)" type="button" class="btn btn-danger companyDeleteBtn" data-bs-toggle="modal" data-bs-target="#companyDeleteModal">
                                    Delete <i class="fas fa-trash-alt"></i>
                                </button>   
                            </td>
                        </tr>
                    </tbody>
    
                
                    <tfoot class="bg-success text-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Əməliyyatlar</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
    
            <div class="modal fade" id="companyEditModal" tabindex="-1" aria-labelledby="companyEditModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="companyEditModalLabel">Dərman Şirkəti məlumatlarının yenilənməsi</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form @submit.prevent="editCompany" v-if="selectedCompany">
                            <div class="mb-3 row">
                                <div class="col-sm-4">
                                    <label for="name" class="form-label">Ad</label>
                                    <input type="text" v-model="selectedCompany.name" :class="{'is-invalid':validationErrors.name}" class="form-control" placeholder="Ad">
                                    <li v-if="validationErrors && validationErrors.name" class="invalid-feedback" v-for="error in validationErrors.name" v-html="error"></li>
                                </div>
                            </div>
          
                          <button class="btn btn-success" :disabled="loading" type="submit"><span v-if="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Təsdiq et</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bağla</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        


        <div class="modal fade" id="companyDeleteModal" tabindex="-1" aria-labelledby="companyDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="companyDeleteModalLabel">Dərman Şirkətini sil</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Dərman Şirkətini silmək istədiyinizə əminsinizmi?</p>
                    <form v-if="selectedCompany" @submit.prevent="deleteCompany">
                        <button type="submit" class="btn btn-danger" :disabled="loading"><span v-if="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Təsdiq et</button>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bağla</button>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/app/medicine_companies.js' %}"></script>
{% endblock %}