{% extends 'app.html' %}

{% block content %}
<h1>Dərman əlavə et</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="name">Adı:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.price.errors }}
        <label for="price">Qiymət:</label>
        {{ form.price }}
    </div>
    <div class="fieldWrapper">
        {{ form.quantity.errors }}
        <label for="quantity">Sayı:</label>
        {{ form.quantity }}
    </div>
    <div class="fieldWrapper">
        {{ form.our_price.errors }}
        <label for="our_price">Bizim qiymət:</label>
        {{ form.our_price }}
    </div>
    <div class="fieldWrapper">
        {{ form.company.errors }}
        <label for="company">Şirkət:</label>
        {{ form.company }}
    </div>
    <button type="submit">Əlavə et</button>
</form>
{% endblock %}