{% extends 'app.html' %}

{% block content %}
<h1 class="mt-4">Həkimə düzəliş et</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Əsas səhifə</a></li>
    <li class="breadcrumb-item"><a href="{% url 'animals:doctor_list' %}">Həkimlər</a></li>
    <li class="breadcrumb-item active">{{doctor}}</li>
</ol>
<div class="card mb-4">
    <div class="card-body">

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="name">Ad:</label>
                {{ form.name }}
            </div>
            <button type="submit">Düzəliş et</button>
        </form>

    </div>
</div>



{% endblock %}
