
{% if companies.has_other_pages %}

    {% if companies.has_previous %}
    <a href="?{% if query %}q={{query}}&{% endif %}page=1" class="btn btn-outline-primary mb-4">First</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{companies.previous_page_number}}" class="btn btn-outline-primary mb-4">Prev</a>
    {% endif %}
    {% for num in companies.paginator.page_range %}
    {% if companies.number == num %}
        <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% elif num > companies.number|add:'-3' and num < companies.number|add:'3'%}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% endif %}
    {% endfor %}
    {% if companies.has_next %}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{companies.next_page_number}}" class="btn btn-outline-primary mb-4">Next</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{companies.paginator.num_pages}}" class="btn btn-outline-primary mb-4">Last</a>
    {% endif %}

{% endif %}


{% if medicines.has_other_pages %}

    {% if medicines.has_previous %}
    <a href="?{% if query %}q={{query}}&{% endif %}page=1" class="btn btn-outline-primary mb-4">First</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{medicines.previous_page_number}}" class="btn btn-outline-primary mb-4">Prev</a>
    {% endif %}
    {% for num in medicines.paginator.page_range %}
    {% if medicines.number == num %}
        <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% elif num > medicines.number|add:'-3' and num < medicines.number|add:'3'%}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{num}}" class="btn {% ifequal request.GET.page|floatformat:'0' num|floatformat:'0' %}btn-primary{%else%}btn-outline-primary{% endifequal %} mb-4">{{num}}</a>
    {% endif %}
    {% endfor %}
    {% if medicines.has_next %}
    <a href="?{% if query %}q={{query}}&{% endif %}page={{medicines.next_page_number}}" class="btn btn-outline-primary mb-4">Next</a>
    <a href="?{% if query %}q={{query}}&{% endif %}page={{medicines.paginator.num_pages}}" class="btn btn-outline-primary mb-4">Last</a>
    {% endif %}

{% endif %}
